<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fran Studios | Javascript Playground Terms</title>
    <meta name="description" content="Javascript Playground Privacy policies" />
  </head>
  <body>
    <main>
      <h1>Privacy policies</h1>
      <ul>
        <li>
          Javascript Playground does not collect any personal data from users.
        </li>
        <li>Javascript Playground does not log IP addresses.</li>
        <li>
          Javascript Playground does not access the contact data of the device.
        </li>
        <li>Javascript Playground does not access users email accounts.</li>
        <li>Javascript Playground does not save data related to the device.</li>
        <li>
          Fran Studios, not Google, is solely responsible for the content of
          Fran Studios.
        </li>
        <li>
          For more information about this privacy policy, you can contact
          francescoalteriog@gmail.com
        </li>
      </ul>
    </main>
  </body>
</html>
