---
import { Icon } from "astro-icon";
import NavLayout from "../layouts/NavLayout.astro";
import ButtonMenuMobile from "./ButtonMenuMobile.astro";
import LogoName from "./LogoName.astro";
import NavAnchor from "./NavAnchor.astro";
---

<NavLayout>
  <LogoName />
  <div class="hidden lg:flex justify-center items-center gap-6">
    <NavAnchor href="#about">About</NavAnchor>
    <NavAnchor href="#projects">Projects</NavAnchor>
    <NavAnchor href="#skills">Skills</NavAnchor>
  </div>
  <div class="hidden lg:flex justify-center items-center lg:gap-8 xl:gap-10">
    <a
      href="https://www.linkedin.com/in/francescoalterio/"
      target="_blank"
      class="flex gap-3 text-gray-300 items-center"
      ><Icon name="mdi:linkedin" class="w-7 text-white" /> Linkedin</a
    >
    <a
      href="https://github.com/francescoalterio"
      target="_blank"
      class="flex gap-3 text-gray-300"
    >
      <Icon name="mdi:github" class="w-7 text-white" /> Github</a
    >
  </div>
  <ButtonMenuMobile />
</NavLayout>
