---
import { Icon } from "astro-icon";
import NavLayout from "../layouts/NavLayout.astro";
import LogoName from "./LogoName.astro";
import NavAnchor from "./NavAnchor.astro";
import EmailButton from "./EmailButton.astro";
---

<NavLayout>
  <LogoName />
  <div class="hidden lg:flex justify-center items-center gap-10">
    <NavAnchor href="#about">Sobre mí</NavAnchor>
    <NavAnchor href="#projects">Proyectos</NavAnchor>
    <NavAnchor href="#skills">Habilidades</NavAnchor>
  </div>
  <div
    class="flex justify-center items-center gap-4 md:gap-6 lg:gap-8 xl:gap-10"
  >
    <a
      href="https://www.linkedin.com/in/francescoalterio/"
      target="_blank"
      class="flex gap-3 text-gray-300 items-center"
      ><Icon name="mdi:linkedin" class="w-7 md:w-9 lg:w-7 text-white" />
      <span class="hidden lg:inline">Linkedin</span>
    </a>
    <a
      href="https://github.com/francescoalterio"
      target="_blank"
      class="flex gap-3 text-gray-300"
    >
      <Icon name="mdi:github" class="w-7 md:w-9 lg:w-7 text-white" /><span
        class="hidden lg:inline">Github</span
      >
    </a>
    <EmailButton />
  </div>
</NavLayout>
