---
import { Icon } from "astro-icon";
---

<nav class="flex flex-1 justify-between">
  <a href="" class="flex justify-center items-center"
    ><Icon name="mdi:code-array" class="w-5 text-primary" />Francesco Alterio</a
  >
  <div class="flex justify-center items-center">
    <a href="">Projects</a>
    <a href=""> Skills</a>
    <a href="">About</a>
  </div>
  <div class="flex justify-center items-center">
    <a href=""><Icon name="mdi:linkedin" class="w-5 text-primaryLight" /></a>
    <a href=""> <Icon name="mdi:github" class="w-5 text-primaryLight" /></a>
    <a href=""><Icon name="mdi:twitter" class="w-5 text-primaryLight" /></a>
  </div>
</nav>
