---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="text-customGray-800 hover:text-primaryLight rounded-full py-2 font-semibold text-sm md:text-base"
>
  <slot />
</a>
