---
import projects from "../../db/projects.json";
import ProjectCard from "./ProjectCard.astro";
---

<div class="flex justify-between gap-x-10 gap-y-16 flex-wrap mt-10">
  {
    projects.map((project) => (
      <ProjectCard
        id={project.id}
        name={project.name}
        fileName={project.fileName}
        technologies={project.technologies}
      />
    ))
  }
</div>
