---
export function getStaticPaths() {
  return [
    { params: { language: "isfavorite" } },
    { params: { language: "all" } },
    { params: { language: "javascript" } },
    { params: { language: "typescript" } },
  ];
}

const names = {
  isfavorite: "isFavorite",
  all: "All",
  javascript: "Javascript",
  typescript: "Typescript",
};

import ProjectList from "../../components/ProjectList.astro";
import Section from "../../components/Section.astro";
import NavLayout from "../../layouts/NavLayout.astro";
import LogoName from "../../components/LogoName.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavAnchor from "../../components/NavAnchor.astro";
const language = Astro.params.language;
---

<BaseLayout
  HeadData={{
    title: "Francesco Alterio | Projects | Portfolio",
    description: "All projects of Francesco Alterio | Portfolio",
    ogTitle: "Francesco Alterio | Projects | Portfolio",
    ogDescription: "All projects of Francesco Alterio",
    ogURL: "https://francescoalterio.tech/",
    ogImage: "https://francescoalterio.tech/presentation.png",
  }}
>
  <NavLayout>
    <LogoName />
    <div
      class="flex justify-center items-center gap-2 sm:gap-4 md:gap-6 lg:gap-10"
    >
      <NavAnchor href="/projects/all">All</NavAnchor>
      <NavAnchor href="/projects/javascript">
         <span class="hidden md:inline">Javascript</span><span class="md:hidden"
          >JS</span
        >
      </NavAnchor>
      <NavAnchor href="/projects/typescript">
         <span class="hidden md:inline">Typescript</span><span class="md:hidden"
          >TS</span
        >
      </NavAnchor>
    </div>
  </NavLayout>
  <header
    class="bg-customGray-200 flex flex-col px-6 sm:px-12 md:px-16 max-w-screen-xl mx-auto gap-16 sm:pb-6 md:pb-10 pt-10 md:pt-20"
  >
    <h1 class="text-white text-2xl sm:text-3xl md:text-4xl">
      {names[language]} Projects
    </h1>
  </header>
  <main>
    <Section
      background="light"
      className=" flex flex-col gap-16 text-white min-h-[1500px] pb-10"
    >
      <ProjectList projectFilter={names[language]} loading="lazy" />
    </Section>
  </main>
</BaseLayout>
