---
export function getStaticPaths() {
  return [
    { params: { language: "isfavorite" } },
    { params: { language: "all" } },
    { params: { language: "javascript" } },
    { params: { language: "typescript" } },
    { params: { language: "php" } },
    { params: { language: "python" } },
  ];
}

const names = {
  isfavorite: "isFavorite",
  all: "All",
  javascript: "Javascript",
  typescript: "Typescript",
  php: "PHP",
  python: "Python",
};

import ProjectList from "../../components/ProjectList.astro";
import Section from "../../components/Section.astro";
import { Icon } from "astro-icon";
import ProjectFilterAnchor from "../../components/ProjectFilterAnchor.astro";
import NavLayout from "../../layouts/NavLayout.astro";
import LogoName from "../../components/LogoName.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavAnchor from "../../components/NavAnchor.astro";
const language = Astro.params.language;
---

<BaseLayout>
  <NavLayout>
    <LogoName />
    <div class="hidden lg:flex justify-center items-center gap-6">
      <NavAnchor href="/projects/all">All</NavAnchor>
      <NavAnchor href="/projects/javascript">Javascript</NavAnchor>
      <NavAnchor href="/projects/typescript">Typescript</NavAnchor>
      <NavAnchor href="/projects/php">PHP</NavAnchor>
      <NavAnchor href="/projects/python">Python</NavAnchor>
    </div>
  </NavLayout>
  <header
    class="bg-customGray-200 flex flex-col px-6 sm:px-12 md:px-16 lg:px-28 gap-16 pb-10 pt-20"
  >
    <h1 class="text-white text-4xl">
      {names[language]} Projects
    </h1>
  </header>
  <main>
    <Section
      background="light"
      className=" flex flex-col gap-16 text-white min-h-[1500px] pb-10"
    >
      <ProjectList projectFilter={names[language]} loading="lazy" />
    </Section>
  </main>
</BaseLayout>
