---
import ProjectList from "../../components/ProjectList.astro";
---

<main>
  <section
    class="bg-customGray-300 px-6 sm:px-12 md:px-16 lg:px-28 py-10 flex flex-col gap-16 text-white"
  >
    <ProjectList projectFilter={"All"} />
  </section>
</main>
