---
import "../styles/global.css";

const { HeadData } = Astro.props;
const { title, description, ogTitle, ogDescription, ogURL, ogImage } = HeadData;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Francesco Alterio | Portfolio</title>
    <meta
      name="description"
      content="All projects and skills of Francesco Alterio | Portfolio"
    />
    <meta property="og:title" content="Francesco Alterio | Portfolio" />
    <meta
      property="og:description"
      content="All projects and skills of Francesco Alterio"
    />
    <meta property="og:url" content="https://francescoalterio.tech/" />
    <meta
      property="og:image"
      content="https://francescoalterio.tech/presentation.png"
    />
    <link rel="icon" href="/images/favicon.ico" />
  </head>
  <body class="text-white bg-customGray-200 min-h-[1080px]">
    <slot />
  </body>
</html>
