---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body class="text-white bg-customGray-200 min-h-[1080px]">
    <slot />
    <Footer />
  </body>
</html>
