---
import "../styles/global.css";

const { HeadData } = Astro.props;
const { title, description, ogTitle, ogDescription, ogURL, ogImage } = HeadData;
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Francesco Alterio | Portafolio</title>
    <meta
      name="description"
      content="Todos los proyectos y habilidades de Francesco Alterio | Portafolio"
    />
    <meta property="og:title" content="Francesco Alterio | Portafolio" />
    <meta
      property="og:description"
      content="Todos los proyectos y habilidades de Francesco Alterio"
    />
    <meta property="og:url" content="https://francescoalterio.com/" />
    <meta
      property="og:image"
      content="https://francescoalterio.com/presentation.png"
    />
    <link rel="icon" href="/assets/favicon-yo.ico" />
  </head>
  <body class="text-white bg-customGray-200 min-h-screen">
    <slot />
  </body>
</html>
